<%= form_tag foods_path, :method => :get do %>
  <p>
    <%= text_field_tag :search %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% if params[:search] %>
  <% @foods.each do |food| %>
    <li><%= link_to food.name, food_path(food) %></li>
  <% end %>
<% end %>
