body {
  font-family: 'Linux Libertine';
  font-weight: 400;
  font-size: 18px;
  background-image: image-url('45-degree-fabric-light.png');
  height: 100%;
}

#container {
  height: 100%;
}

h1{
  font-family: 'Linux Biolinum';
  font-style: italic;
  a {
  text-decoration: none;
  color: #000;
  }
}

h1#title{
  display: inline;
  margin-right: 20px;
}

h3#tagline{
  display: inline;
}

a {
  text-decoration: none;
  color: #E45F00;
}

li {
  list-style: none;
}

.paleo {
  background-image: image-url('45-degree-fabric-light.png');
}

.notPaleo {
  background-color: red;
  color: #fff;
  a{
    color: #fff;
  }
}

.true {
  text-align: center;
}

.false {
  text-align: center;
}

.searchArea {
  margin: 0 auto;
  width: 40%;
  top: 30%;
  position: relative;
}

.gifResponse{
  animation: bounce 3s 1;
  animation-fill-mode: both;
  opacity: 0;
  max-width: 100%;
}

form{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
}

input[type="text"]{
  background: none;
  border: none;
  flex-grow: 2;
  color: #000;
}

input[type="submit"]{
  border-radius: 2px;
  background-color: rgba(255,255,255,0.0);
  border-color: rgba(255,255,255,0.0);
  border-style: solid;
  flex-grow: 1;
  cursor: pointer;
}

input:focus{
  outline: 0px solid black;
}

.foodsList {
  margin-top: 20px;
  line-height: 1.5;
}

/** Animations **/
@keyframes bounce {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }  
}