body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-image: image-url('45-degree-fabric-light.png');
  height: 100%;
  color: #646464;
}

header {
  margin: 10px;
}

#container {
  height: 100%;
}

h1{
  font-style: italic;
  a {
  text-decoration: none;
  color: #F19F33;
  }
}

h2 {
  font-family: 'Paprika', cursive;
}

h1#title{
  font-family: 'Paprika', cursive;
  font-weight: 700;
  display: inline;
  margin-right: 20px;
}

h3#tagline{
  display: inline;
  letter-spacing: 1px;
}

a {
  text-decoration: none;
  color: #F19F33;
}

li {
  list-style: none;
}

p {
  font-family: 'Paprika', cursive;
  font-weight: 700;
}

.home {
  background: #fff url('bg/citrus_and_noodles.jpg') no-repeat fixed top center;
  background-size: 100%;
  header {
    text-shadow: 
    1px 0px 1px #ccc, 0px 1px 1px #eee, 
    2px 1px 1px #ccc, 1px 2px 1px #eee;
  }
  .searchArea {
    background: rgba(255,255,255,0.8);
    padding: 0 5px 5px;
  }
}
.paleo {
  background-image: image-url('45-degree-fabric-light.png');
}

.notPaleo {
  background-image: image-url('45-degree-fabric-light.png');
  background-color: #FF2400;
  color: #FFF;
  a{
    color: #FFF;
  }
  input[type="submit"]{
    color: #FFF;
  }
}

.true {
  text-align: center;
}

.false {
  text-align: center;
}

.searchArea {
  margin: 0 auto;
  width: 40%;
  top: 30%;
  position: relative;
}

.gifResponse{
  animation: bounce 3s 1;
  animation-fill-mode: both;
  opacity: 0;
  max-width: 100%;
}

form{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #646464;
}

input {
  font-size: 1em;
}

input[type="text"]{
  background: none;
  border: none;
  flex-grow: 2;
  color: #000;
  margin-top: 10px;
}

input[type="submit"]{
  border-radius: 2px;
  background-color: rgba(255,255,255,0.0);
  border-color: rgba(255,255,255,0.0);
  border-style: solid;
  flex-grow: 1;
  cursor: pointer;
  color: #646464;  
}

input:focus{
  outline: 0px solid black;
}

.foodsList {
  margin: 20px 0;
  line-height: 1.5;
}

/** Animations **/
@keyframes bounce {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }  
}

/** Media Queries **/

@media only screen
and (max-device-width : 768px) {
  .searchArea {
    width: 100%;
  }
  h3#tagline{
    display: block;
  }
}