/***Variables***/
$dark-shadow: 1px 0px 1px #777, 0px 1px 1px #333, 
               2px 1px 1px #777, 1px 2px 1px #333;

/***Global***/
html {
  height: 90%;
}

body {
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  font-size: 15px;
  background-image: image-url('45-degree-fabric-light.png');
  height: 100%;
  color: #646464;
  display: flex;
  flex-flow: column nowrap;
}

#container {
  min-height: 89%;
  margin-bottom: -30px;
}

header {
  margin: 10px;
}

h1{
  font-style: italic;
  a {
  text-decoration: none;
  color: #F19F33;
  }
  #title{
    font-family: 'Paprika', cursive;
    font-weight: 700;
    display: inline;
    margin-right: 20px;
  }
}

h2 {
  font-family: 'Paprika', cursive;
}

h3#tagline{
  display: inline;
  letter-spacing: 1pt;
}

a {
  text-decoration: none;
  color: #F19F33;
}

li {
  list-style: none;
}

footer {
  font-family: 'Paprika', cursive;
  letter-spacing: 1pt;
  height: 30px;
  a {
    color: #EEE;
    text-shadow: $dark-shadow;
  }
}

/***Food Search Container***/
.searchArea {
  margin: 10% auto;
  width: 40%;
}

form{
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid #646464;
}

input {
  font-size: 1em;
}

input[type="text"]{
  background: none;
  border: none;
  flex-grow: 2;
  color: #000;
  margin-top: 10px;
}

input[type="submit"]{
  border-radius: 2px;
  background-color: rgba(255,255,255,0.0);
  border-color: rgba(255,255,255,0.0);
  border-style: solid;
  flex-grow: 1;
  cursor: pointer;
  color: #646464;  
}

input:focus{
  outline: 0px solid black;
}

.foodsList {
  margin: 20px 0;
  line-height: 2;
}

/***Home Page***/
.home {
  background: #fff url('bg/citrus_and_noodles.jpg') no-repeat fixed top center;
  background-size: 100%;
  h1#title {
    color: #fff;
    text-shadow: 
    1px 0px 1px #CCC, 0px 1px 1px #EEE, 
    2px 1px 1px #CCC, 1px 2px 1px #EEE,
    3px 2px 1px #CCC, 2px 3px 1px #EEE;
  }
  h3#tagline {
    color: #fff;
    text-shadow: $dark-shadow;
  }
  .searchArea {
    background: rgba(255,255,255,0.8);
    padding: 0 5px 5px;
  }
}

#ad {
  text-align: center;
}

/***Paleo Food Pages***/
.paleo {
  background-image: image-url('45-degree-fabric-light.png');
}

.true {
  text-align: center;
}

/***Not Paleo Food Pages***/
.notPaleo {
  background-color: #FF2400;
  background-image: image-url('45-degree-fabric-light.png');
  color: #FFF;
  a{
    color: #FFF;
  }
  input[type="submit"]{
    color: #FFF;
  }
}

.false {
  text-align: center;
}

.gifResponse{
  animation: bounce 3s 1;
  animation-fill-mode: both;
  opacity: 0;
  max-width: 100%;
}

/***Animations***/
@keyframes bounce {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }  
}

/***Media Queries***/

@media only screen
and (max-device-width : 768px) {
  .searchArea {
  width: 60%;
  }
  h3#tagline{
    display: block;
  }
}

@media only screen 
    and (max-device-width: 640px), 
    only screen and (max-device-width: 667px), 
    only screen and (max-width: 480px) { 
  .searchArea {
    width: 100%;
  }
  h3#tagline{
    display: block;
  }
}