<!DOCTYPE html>
<html>
<head>
  <title>PaleoFoods</title>
  <meta name="viewport" content="initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link rel="stylesheet" href="//brick.a.ssl.fastly.net/Linux+Libertine:400,400i/Linux+Biolinum:400,700,400i">
  <script src="http://www.kirupa.com/js/prefixfree.min.js"></script>
</head>
<body>
  <div id="container">
<%= render 'layouts/header' %>
<%= yield %>
</div>
</body>
</html>
